* {
    cursor: crosshair;
}

body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

/* Customising Scrollbar */

/* Left Side */
#container-left::-webkit-scrollbar-track {
    display: none;
}

#container-left::-webkit-scrollbar {
    width: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container-left::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/* Right Side */
#container-right::-webkit-scrollbar-track {
    display: none;
}

#container-right::-webkit-scrollbar {
    width: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container-right::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

/* Left Page */
#container-left {
    max-width: 45%;
    width: 50%;
    float: left;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; 
    background: none;
    font-family: 'Cutive Mono', monospace;
}

#about-title {
    padding-top: 30px;
    padding-left: 50px;
}

#myself {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0px;
    text-align: justify;
    line-height: 150%;
}

#experience-title {
    padding-top: 40px;
    padding-left: 50px;
}

/* Right Page */
#container-right {
    max-width: 50%;
    width: 50%;
    float: left;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; 
    background: none;
    font-family: 'Cutive Mono', monospace;
}

#project-title {
    padding-top: 30px;
}